[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "==1.0.3"
flask-restful = "*"
prompt-toolkit = "*"
python-dateutil = "*"
flask-script = "*"
simplejson = "*"
pyflakes = "*"
pep8 = "*"
requests = "*"
pytest = "*"
termcolor = "*"

[requires]
python_version = "3.6"
